* {
  margin: 0;
}

body{
  background: grey;
 background: url(https://images.unsplash.com/photo-1511438463149-1d696b9baba7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee50fd75e160a19581798aca624c32c7&auto=format&fit=crop&w=1950&q=80);
  size: fixed;
}

h1 {
  color: white;
}

p {
  color: white;
}

li {
  color: white;
}

.App {
  text-align: center;
}

.title {
  font-family: 'Calligraffitti', cursive;
  justify-self: start;
  font-weight: 800;
}

.search-form {
  display: flex;
}

input {
  outline: none;
}
.search-bar {
  justify-self: start;
  width: 300px;
  height: 30px;
}

.search-button {
  align-self: start;
  height: 37px;
  width: 90px;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: #eceef4;
}

.weather-card {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.weather-description{
  margin: 20px;
}

.high,
.current-temp,
.low {
  justify-content: center;
  display: inline-flex;
  margin-right: 50px;
  margin-left: 50px; 
}

.current-info {
  margin-bottom: 40px;
}

.header {
  display: grid;
  background-color: #bac7e1;
  opacity: 0.9;

}

.ten-day {
  border: solid 1px;
  width: 200px;
  margin: 40px 10px 10px 10px;
  display: inline-block;
}

.seven-day-logo, .image-logo-current {
  position: relative;
  top: 15px;
}

.current-weather-city {
  font-size: 60px;
}

.current-temp {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px
}
.weather-description-card {
  padding: 0 20px 0 20px;
  position: relative;
  bottom: 15px;
}
@media screen and (max-width:745px){

.high,
.current-temp,
.low {
  margin: auto;
}

}

@media screen and (max-width:550px){
.weather-description {
  margin: 10px;
}
.weather-description-card {
  position: relative;
  bottom: 25px;
}
}

@media screen and (max-width:460px){
.weather-description {
  margin: 5px;
}
.weather-description-card {
  bottom: 30px;
}
}

@media screen and (max-width:445px){

.high,
.current-temp,
.low {
  display: block;
}

.current-condition{
  margin: 20px;
}

.search-bar {
  width: 200px;
}
.current-temp {
  font-size: 80px;
}

.current-weather-city {
  font-size: 50px;
}

.weather-card {
  font-size: 12px
}
.weather-description, .weather-description-card {
  margin: 5px;
}
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
