* {
  margin: 0;
}

body{
  background: grey;
  background: url(https://source.unsplash.com/collection/3108307/1600x900);
  size: fixed;
}

h1 {
  color: white;
}

p {
  color: white;
}

li {
  color: white;
}

.App {
  text-align: center;
}

.title {
  font-family: 'Calligraffitti', cursive;
  justify-self: start;
  font-weight: 800;
}

.search-form {
  display: flex;
}

.search-bar {
  justify-self: start;
  width: 300px;
  height: 30px;
}

.search-button {
  align-self: start;
  height: 37px;
  width: 90px;
}

.weather-card {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.weather-description{
  margin: 20px;
}

.high,
.current-temp,
.low {
  justify-content: center;
  display: inline-flex;
  margin-right: 50px;
  margin-left: 50px; 
}

.current-info {
  margin-bottom: 40px;
}

.header {
  display: grid;
  background-color: #29648A;

}

.ten-day {
  border: solid 1px;
  width: 200px;
  margin: 40px 10px 10px 10px;
  display: inline-block;
}

.seven-day-logo, .image-logo-current {
  position: relative;
  top: 15px;
}

.current-weather-city {
  font-size: 60px;
}

.current-temp {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px
}
.weather-description-card {
  padding: 0 20px 0 20px;
  position: relative;
  bottom: 15px;
}

.icon-ten-day {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
