body{
  background: url(https://source.unsplash.com/collection/334800/1600x900);
  size: fixed;
}

h1 {
  color: white;
}

p {
  color: white;
}

li {
  color: white;
}

.App {
  text-align: center;
}

.title {
  font-family: 'Calligraffitti', cursive;
  justify-self: start;
  font-weight: 800;
}

.search-form {
  display: flex;
}

.search-bar {
  justify-self: start;
  width: 300px;
  height: 30px;
}

.search-button {
  align-self: start;
  height: 37px;
  width: 90px;
}

.weather-card {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.weather-description{
  margin: 10px;
}

.header {
  display: grid;
  background-color: #29648A;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
